.footer {
    padding-bottom: 40px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__form {
        width: 50%;
        max-width: 450px;
        display: flex;
    }

    &__submit {
        background: #282F6A;
        border-radius: 0px 5px 5px 0px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: normal;
        border: 0;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        transition: all ease-out .2s;
        height: 45px;

        &:hover {
            background: darken($purple, 5%);
        }
    }

    &__inputs-wrap {
        flex: auto;
        background: #EFECEC;
        border: 1px solid #EFECEC;
        border-radius: 5px 0 0 5px;
        position: relative;
        display: flex;
        transition: all ease-out .2s;
        height: 45px;
        overflow: hidden;

        &:hover {
            border: 1px solid rgb(221, 219, 219);
            background: rgb(221, 219, 219);
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            height: 70%;
            width: 1px;
            top: 15%;
            display: block;
            background-color: #484848;
        }
    }

    &__input {
        border: 0;
        background-color: transparent;
        height: 100%;
        width: 50%;
        padding-left: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #484848;

        &:nth-child(2) {
            margin-left: 1px;
            width: calc(50% - 1px);
        }

        &::placeholder {
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            color: #676767;
        }

        &:focus {
            background: #fff;
            outline: none;
        }
    }

    &__contacts {
        text-align: right;
    }

    &__contacts-link {
        font-weight: 300;
        font-size: 16px;
        line-height: 27px;
        color: #000000;
        display: block;
        text-decoration: none;
    }
}