.content
    .container
      .content__left
        h1.content__title поможем продать: проще, быстрее и выгоднее
        p.content__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit modi ratione, iusto consequatur magni officiis culpa officia veritatis.
        .content__stages
          h3.content__stage-title 3 этапа успешной продажи:
          .content__stage-list
            .content__stage
              img(src="img/mobile-phone.svg")
              .content__stage-description-wrap
                .content__stage-description Свяжитесь с нами
            .content__stage.content__stage_border_0
              img(src="img/arrow.svg")
            .content__stage
              img(src="img/stage2.svg")
              .content__stage-description-wrap
                .content__stage-description Наш спеациалист заключит с вами договор и сделает снимки вашего жилого помещения
            .content__stage.content__stage_border_0
              img(src="img/arrow.svg")
            .content__stage
              img(src="img/stage3.svg")
              .content__stage-description-wrap
                .content__stage-description Так как всем остальным займемся мы, то вам остается лишь дождаться успешного завершения сделки
      .content__right
        include pie.pug
        include topReality.pug