footer.footer
    .container
      form.footer__form
        .footer__inputs-wrap
          input.footer__input(type='text' placeholder='Имя')
          input.footer__input(type='tel' placeholder='Телефон')
        button.footer__submit(type='submit') Продать
          .footer__submit-loading
      .footer__contacts
        a.footer__contacts-link(href='tel:+7 911 999-99-99') +7 911 999-99-99
        a.footer__contacts-link(href='https://goo.gl/maps/kpEd166WB9BZM92x8' rel='nofollow' target='blank') &Pcy;&rcy;&ocy;&scy;&pcy;&iecy;&kcy;&tcy; &Lcy;&iecy;&ncy;&icy;&ncy;&acy;, &dcy;. 4
script(src='./scripts/index.js')