header.header
    .container
      .header__logo
        img(src='img/logo.png' alt='')
      .header__menu-btn.menu-btn.hide-on_desktop
        .menu-btn__line
        .menu-btn__line
        .menu-btn__line
      nav.header__menu
        ul.header__menu-list
          li.header__menu-list-item.header__menu-list-item_active
            a.header__menu-link(href='') Продать
          li.header__menu-list-item
            a.header__menu-link(href='') Купить
          li.header__menu-list-item
            a.header__menu-link(href='') Сдать
          li.header__menu-list-item
            a.header__menu-link(href='') Арендовать