@keyframes tremmorLeft {
    10% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes tremmorRight {
    10% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes tremmorTop {
    10% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes tremmorBottom {
    10% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes tremmorBottomLeft {
    10% {
        transform: translate(-2px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes tremmorTopLeft {
    10% {
        transform: translate(-2px, -2px);
    }

    100% {
        transform: translate(0, 0);
    }
}