.content {
    &__pie {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include container {
            max-height: 100vh;
            width: auto;
        }

        &.active {
            .content {
                &__pie-piece {
                    visibility: hidden;
                    opacity: 0;
                    
                    path, rect {
                        animation: none;
                    }
                    
                    &:hover {        
                        path, rect {
                            animation: none;
                        }
                    }

                    &.active {
                        opacity: 1;
                        visibility: visible;

                        @include mobile {
                            visibility: hidden;
                            opacity: 0;
                        }

                        &:hover {
                            path:first-of-type {
                                fill: #da1111;
                            }
                        }
            
                        path:first-of-type {
                            fill: #2e2e2e;
                        }
                    }
                }
                &__avito {
                    transform: translate(-100px, -100px);
                    
                    &.active {
                        transform:  scale(0.5) translate(11%, 18%);
                    }
                }

                &__yandex {
                    transform: translate(100px, -25px);

                    &.active {
                        transform: scale(0.5) translate(5%, 22%);
                    }
                }

                &__yula {
                    transform: translate(0, -100px);

                    &.active {
                        transform: scale(0.5) translate(5%, 25%); 
                    }
                }

                &__cian {
                    transform: translate(15px, 95px);

                    &.active {
                        transform: scale(0.5) translate(6%, 11%); 
                    } 
                    
                }
                &__domofond {
                    transform: translate(-100px, 36px);
 
                    &.active {
                        transform: scale(0.5) translate(14%, 13%);
                        
                    }
                }
            }
        }
    }

    &__pie-piece path:first-of-type{
        fill: transparent; 
        transition: fill ease-out 0.2s;
    }

    &__avito, &__domofond {
        path:first-of-type {
            stroke: transparent;
        }
    }

    &__pie-piece {
        transition: all ease-in-out .5s;
        cursor: pointer;
        user-select: none;

        path:first-of-type {
            transition: stroke ease-out 0.22s;
        }

        &:hover {
            path:first-of-type {
                stroke: #797979;
                stroke-opacity: 1;
            }
        }

        &:nth-child(1) {
            path, rect {
                animation: tremmorTopLeft 0.5s ease-in-out 0.7s infinite;
            }   
            
            &:hover {        
                path, rect {
                    animation: tremmorTopLeft 0.15s ease-in-out 0.5s infinite;
                }
            }
        }

        &:nth-child(2) {
            path, rect {
                animation: tremmorTop 0.5s ease-in-out 0.75s infinite;
            }   
            
            &:hover {        
                path, rect {
                    animation: tremmorTop 0.15s ease-in-out 0.5s infinite;
                }
            }
        }

        &:nth-child(3) {
            path, rect {
                animation: tremmorRight 0.5s ease-in-out 0.5s infinite;
            }

            &:hover {        
                path, rect {
                    animation: tremmorRight 0.15s ease-in-out 0.5s infinite;
                }
            }
            
        }

        &:nth-child(4) {
            path, rect {
                animation: tremmorBottom 0.5s ease-in-out 0.65s infinite;
            }   
            
            &:hover {        
                path, rect {
                    animation: tremmorBottom 0.15s ease-in-out 0.5s infinite;
                }
            }
        }
        
        &:nth-child(5) {
            path, rect {
                animation: tremmorBottomLeft 0.5s ease-in-out 0.85s infinite;
            }   
            
            &:hover {        
                path, rect {
                    animation: tremmorBottomLeft 0.15s ease-in-out 0.5s infinite;
                }
            }
        }
    }
}